<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAFT.CaftSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CAFT.CaftSettings>
            <setting name="TimeStamp" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="GridRowCount" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="LaneSignal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CellSize_Height" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="TwoVhSize_Column" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TwoVhSize_Row" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ThreeVhSize_Column" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ThreeVhSize_Row" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FourVhSize_Row" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FourVhSize_Column" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LCV1VhSize_Column" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LCV1VhSize_Row" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TwoVh_MaxAcceleration" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ThreeVh_MaxAcceleration" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FourVh_MaxAcceleration" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LCV1Vh_MaxAcceleration" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Vh_OvertakingGap" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Vh_AccelerationGap" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CellSize_Width" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CellSize_InPixels" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="headway" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LCV2VhSize_Row" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LCV2VhSize_Column" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LCV2Vh_MaxAcceleration" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HCV1VhSize_Row" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HCV1VhSize_Column" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HCV1Vh_MaxAcceleration" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HCV2VhSize_Row" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="HCV2VhSize_Column" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HCV2Vh_MaxAcceleration" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TwoVh_MaxAccelerationInKm" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ThreeVh_MaxAccelerationInKm" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="FourVh_MaxAccelerationInKm" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LCV1Vh_MaxAccelerationInKm" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LCV2Vh_MaxAccelerationInKm" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="HCV1Vh_MaxAccelerationInKm" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="HCV2Vh_MaxAccelerationInKm" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="BumpLine" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TwoVhAccParam" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThreeVhAccParam" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FourVhAccParam" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LCV1VhAccParam" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LCV2VhAccParam" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HCV1VhAccParam" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HCV2VhAccParam" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TwoVhAccParamInkm" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ThreeVhAccParamInkm" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FourVhAccParamInkm" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LCV1VhAccParamInkm" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LCV2VhAccParamInkm" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HCV1VhAccParamInkm" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HCV2VhAccParamInkm" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TwoVhInclude" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThreeVhInclude" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FourVhInclude" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LCV1VhInclude" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LCV2VhInclude" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HCV1VhInclude" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HCV2VhInclude" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bumpInclude" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bumpArea" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="signalInclude" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GreenSignalTime" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RedSignalTime" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AmberSignalTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoSignalInclude" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoGreenSignalTime_Bottom" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AutoRedSignalTime" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="lefttraffic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="righttraffic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="toptraffic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bottomtraffic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoGreenSignalTime_Left" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AutoGreenSignalTime_Top" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AutoGreenSignalTime_Right" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="vhRangeInclude" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VhRangeMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VhRangeMax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="VhRangeTime" serializeAs="String">
                <value />
            </setting>
            <setting name="IntersectionSpeedZone" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="RoadWidth" serializeAs="String">
                <value>7.2</value>
            </setting>
            <setting name="percentTwoVh" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="percentThreeVh" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="percentFourVh" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="percentLCV1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="percentLCV2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="percentHCV1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="percentHCV2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="percentStraight" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="percentRight" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="percentLeft" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DelayDistance" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="NoiseProbFactor" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CrossRoadSignalAmberTime" serializeAs="String">
                <value>4</value>
            </setting>
        </CAFT.CaftSettings>
    </userSettings>
</configuration>